* {
    margin: 0;
    padding: 0;
    font-family: emoji;
  }
  body {
    background-color: #F7F7F7
    !important ;
  }
  .imageAndName {
    margin: 5% auto;
      display: flex;
      justify-content: space-around;
      width: 80%;
      text-align:left;
      gap: 10%;
    }
  .imageAndName h3 {
      font-size: 25px;
      color: #142F43;
     padding-bottom: 1%;
    }
  .imageAndName img{
      width: 300px;
      height: 600px;
      border-radius: 4px;
    }
  .information{
    margin-top: 10%;
  }
  .ruqia {
    font-size: 130%;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: right;
  }
  .social a {
    font-size: 30px;
    color: #212121;
    margin-right: 20px;
  }
  .mainPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    gap: 10%;
  }
  .myName h2,
  h4,
  h5 {
    padding-top: 3%;
  }
  #contactMe {
    margin: 10% auto;
    border: 1px solid;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 4px;
    font-size: 100px;
    background-color: #F4F9F9;
    box-shadow: 1px 1px 1px 1px #88E0EF;
  }
  #educationPage{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-content: center;
    margin: 15% auto;
  }
  #skills {
    display: flex;
     margin: 3% auto;
   justify-content: space-evenly;
  }
  .progress {
    margin-top: 5%;
    height: 70%;
  }
  .img {
    width: 250px;
    height: 250px;
    align-items: center;
  }
  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 1% auto;
  }
  .social a {
    font-size: 40px;
  }
  .cv a {
    text-decoration: none;
    font-size: 25px;
    font-family: emoji;
    color: black;
  }
  .cv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 1% auto;
  }
  #projectPage{
    width: 90%;
     display: flex;
     flex-direction: row;
     justify-content:space-evenly;
     align-content: center;
    gap: 5%;
     margin: 5% auto;
     padding: 5% auto ;
   }
   #projectPage2{
    width: 90%;
     display: flex;
     flex-direction: row;
     justify-content:space-evenly;
     align-content: center;
    gap: 5%;
     margin: 5% auto;
     padding: 5% auto ;
   }
   .projectDiscribtions{
     width: 30%;
   }
   .projectDiscribtions h2{
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     font-style: normal;
   }
   .projectDiscribtions p{
     font-size: 18px;
     letter-spacing: 1px;
   }
   .slider{
     width: 60%;
   }
  #contactMePage {
    margin: 5% auto;
    display: flex;
    align-content: space-between;
    flex-direction: row;
    align-content: center;
    text-align: left;
    align-content: center;
    width: 80%;
  }
  #contactMePage a {
    text-decoration: none;
    color: black;
  }
  .contact {
    width: 40%;
    margin-left: 15%;
  }
  .contact2 {
    width: 40%;
    margin: 10% auto;
  }
  .projectDiscribtions a{
    color: black;
    font-size: 18px;
  }
  .projectDiscribtions a:hover{
    color: brown;
    text-decoration: none;
  }
  
  